# NestJS Server Configuration
PORT=3001

# Database Configuration
DATABASE_URL="postgresql://darshan:postgrespassword@localhost:5432/starter_kit_db"

# Better Auth Configuration
BETTER_AUTH_SECRET="super-secret-better-auth-key-change-in-production-123456"
APP_URL="http://localhost:3000"

# Social Auth Providers (Optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# AWS S3 Storage Configuration (Required)
AWS_REGION="us-east-1"
AWS_S3_BUCKET="my-s3-bucket-name"
AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
AWS_S3_ENDPOINT="" # Optional custom endpoint for MinIO / Cloudflare R2 / Wasabi
AWS_S3_FORCE_PATH_STYLE="false"


