# NestJS Server Configuration
PORT=3001

# Database Configuration
DATABASE_URL="postgresql://darshan:postgrespassword@localhost:5432/starter_kit_db"

# Better Auth Configuration
BETTER_AUTH_SECRET="super-secret-better-auth-key-change-in-production-123456"
APP_URL="http://localhost:3000"

# Social Auth Providers (Optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
